@import '../../_variables';

section {
    .art {
        margin: 0 auto;
        padding: 10vh 0 20vh;
        max-width: 20vw;
    }

    .input_wrap {
        margin-bottom: 1rem;
    }

    .input {
        padding: 1rem;
        width: 20vw;
    }
    .wrap {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        cursor: pointer;
    }

    .btn_wrap {
        margin-top: 2rem;
        background-color: $dusty-teal;
    }
    .btn {
        color: $white;
        font-weight: var(--font-weight-semibold);
        font-size: 1rem;
    }
}