.wrap {
    margin: 2.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .img_area {
        margin-bottom: 1.25rem;
    }
    .info_area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            margin: 0.25rem;
            font-size: large;
            font-weight: var(--font-weight-semibold);
            color: var(--color-gray-roboflow-600);
        }
    }
}