.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    span {
        color: var(--g-colorGray400);
        font-weight: var(--font-weight-bold);
        font-size: xx-large;
    }
}