.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 48px 0;
    padding-bottom: 48px;
    border-bottom: .5px solid var(--color-gray-roboflow-200);

    ul {
        display: flex;

        li {
            margin: 1rem;
            a {
                color: var(--color-text-dark);
                font-weight: var(--font-weight-semibold);
                font-size: large;
            }
        }
    }
}