@import './mixin';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
	--g-border-width: 1px;
    --g-border-width-lg: 2px;

	--g-ncols: 12;

	--g-colorRed0: #ff5247;
    --g-colorRed100: #e60023;
    --g-colorGray0: #fff;
    --g-colorGray50: #fff;
    --g-colorGray100: #efefef;
    --g-colorGray150: #ddd;
    --g-colorGray200: #767676;
    --g-colorGray300: #111;
    --g-colorGray400: #000;
    --g-green: #0fa573;
    --g-pine: #0a6955;
    --g-olive: #364a4c;
    --g-blue: #0074e8;
    --g-navy: #004b91;
    --g-midnight: #133a5e;
    --g-purple: #b469eb;
    --g-orchid: #8046a5;
    --g-eggplant: #5b2677;
    --g-maroon: #6e0f3c;
    --g-watermelon: #f13535;
    --g-orange: #e3780c;
    --g-colorGray0Hovered: #f0f0f0;
    --g-colorGray100Hovered: #e2e2e2;
    --g-colorGray150Hovered: #d0d0d0;
    --g-colorGray200Hovered: #878787;
    --g-colorRed100Hovered: #ad081b;
    --g-blueHovered: #4a8ad4;
    --g-colorGray0Active: #e0e0e0;
    --g-colorGray100Active: #dadada;
    --g-colorGray200Active: #828282;
    --g-colorRed100Active: #a3081a;
    --g-blueActive: #4a85c9;
    --g-colorTransparentDarkGray: rgb(51 51 51/0.8);
    --g-colorTransparentWhite: rgb(255 255 255/0.8);
    --g-colorTransparentGray60: rgb(0 0 0/0.06);
    --g-colorTransparentGray100: rgb(0 0 0/0.1);
    --g-colorTransparentGray500: rgb(0 0 0/0.1);
    --g-colorTransparentGray800: rgb(0 0 0/0.8);

	--g-switch-height: 24px;
    --g-switch-width: 40px;
    --g-switch-border: 1px;

	--g-border-sm: 6px;
    --g-border-md: 8px;

	--g-size-sm: 16px;
    --g-size-md: 24px;

	--space-negative-600: -64px;
    --space-negative-500: -32px;
    --space-negative-400: -24px;
    --space-negative-300: -16px;
    --space-negative-200: -8px;
    --space-negative-100: -4px;
    --space-600: 64px;
    --space-500: 32px;
    --space-400: 24px;
    --space-300: 16px;
    --space-200: 8px;
    --space-100: 4px;
    --space-0: 0;

	--font-family-code: SFMono-Medium,"SF Mono","Segoe UI Mono","Roboto Mono","Ubuntu Mono",Menlo,Consolas,Courier,monospace;
    --font-family-default-japanese: "SF Pro JP",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-default-latin: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";


	--font-weight-bold: 700;
	--font-weight-semibold: 600;
	--font-weight-normal: 400;

	--font-size-700: 48px;
	--font-size-600: 36px;
    --font-size-500: 28px;
    --font-size-400: 20px;
    --font-size-300: 16px;
    --font-size-200: 14px;
    --font-size-100: 12px;

	--elevation-raised-bottom: 0 -2px 8px rgba(0,0,0,0.12);
    --elevation-raised-top: 0 2px 8px rgba(0,0,0,0.12);
    --elevation-floating: 0 0 8px rgba(0,0,0,0.1);
    --color-black-cosmicore-900: #111;
    --color-gray-roboflow-800: #191919;
    --color-gray-roboflow-700: #2b2b2b;
    --color-gray-roboflow-600: #4a4a4a;
    --color-gray-roboflow-500: #767676;
    --color-gray-roboflow-400: #a5a5a5;
    --color-gray-roboflow-300: #cdcdcd;
    --color-gray-roboflow-200: #e9e9e9;
    --color-gray-roboflow-100: #f1f1f1;
    --color-gray-roboflow-50: #f9f9f9;
    --color-white-mochimalist-0: #fff;
    --color-yellow-caramellow-900: #662400;
    --color-yellow-caramellow-800: #7c2d00;
    --color-yellow-caramellow-700: #943a00;
    --color-yellow-caramellow-600: #aa4900;
    --color-yellow-caramellow-500: #bd5b00;
    --color-yellow-caramellow-450: #d86800;
    --color-yellow-caramellow-400: #e18d00;
    --color-yellow-caramellow-300: #fdc900;
    --color-yellow-caramellow-200: #fae600;
    --color-yellow-caramellow-100: #fffd92;
    --color-yellow-caramellow-50: #fffebb;
    --color-yellow-caramellow-0: #fffedb;
    --color-orange-firetini-900: #660e00;
    --color-orange-firetini-800: #842000;
    --color-orange-firetini-700: #a42700;
    --color-orange-firetini-600: #c32f00;
    --color-orange-firetini-500: #de3700;
    --color-orange-firetini-450: #ff5b45;
    --color-orange-firetini-400: #f77a38;
    --color-orange-firetini-300: #fda161;
    --color-orange-firetini-200: #ffc58f;
    --color-orange-firetini-100: #ffe4c1;
    --color-orange-firetini-50: #fff0db;
    --color-orange-firetini-0: #fff6eb;
    --color-purple-mysticool-900: #2c0066;
    --color-purple-mysticool-800: #400387;
    --color-purple-mysticool-700: #550aa9;
    --color-purple-mysticool-600: #6b16ca;
    --color-purple-mysticool-500: #812ae7;
    --color-purple-mysticool-450: #8a39fa;
    --color-purple-mysticool-400: #9e68ff;
    --color-purple-mysticool-300: #b190ff;
    --color-purple-mysticool-200: #d5c7ff;
    --color-purple-mysticool-100: #e9e4ff;
    --color-purple-mysticool-50: #f0edff;
    --color-purple-mysticool-0: #f8f7ff;
    --color-green-matchacado-900: #00261a;
    --color-green-matchacado-800: #003020;
    --color-green-matchacado-700: #00422c;
    --color-green-matchacado-600: #005f3e;
    --color-green-matchacado-500: #008753;
    --color-green-matchacado-450: #1dad65;
    --color-green-matchacado-400: #39d377;
    --color-green-matchacado-300: #6bec8c;
    --color-green-matchacado-200: #a4f9ac;
    --color-green-matchacado-100: #c3f9c2;
    --color-green-matchacado-50: #e3fae1;
    --color-green-matchacado-0: #f6fdf5;
    --color-teal-spabattical-900: #003440;
    --color-teal-spabattical-800: #005062;
    --color-teal-spabattical-700: #005c62;
    --color-teal-spabattical-600: #006b6c;
    --color-teal-spabattical-500: #00857c;
    --color-teal-spabattical-450: #009990;
    --color-teal-spabattical-400: #26c0b4;
    --color-teal-spabattical-300: #48d5c6;
    --color-teal-spabattical-200: #75e4d5;
    --color-teal-spabattical-100: #ccf6ee;
    --color-teal-spabattical-50: #e6faf5;
    --color-teal-spabattical-0: #f7fdfc;
    --color-blue-skycicle-900: #002966;
    --color-blue-skycicle-800: #003c96;
    --color-blue-skycicle-700: #004ba9;
    --color-blue-skycicle-600: #005fcb;
    --color-blue-skycicle-500: #0074e8;
    --color-blue-skycicle-450: #007cff;
    --color-blue-skycicle-400: #45a3fe;
    --color-blue-skycicle-300: #75bfff;
    --color-blue-skycicle-200: #abdbff;
    --color-blue-skycicle-100: #d7edff;
    --color-blue-skycicle-50: #e6f4ff;
    --color-blue-skycicle-0: #f7fbff;
    --color-pink-flaminglow-900: #630233;
    --color-pink-flaminglow-800: #82053e;
    --color-pink-flaminglow-700: #a30c4a;
    --color-pink-flaminglow-600: #c31952;
    --color-pink-flaminglow-500: #de2c62;
    --color-pink-flaminglow-450: #ee376a;
    --color-pink-flaminglow-400: #f76593;
    --color-pink-flaminglow-300: #fe8eb1;
    --color-pink-flaminglow-200: #ffbed2;
    --color-pink-flaminglow-100: #ffdfe9;
    --color-pink-flaminglow-50: #ffebf1;
    --color-pink-flaminglow-0: #fff8fa;
    --color-red-pushpin-900: #600;
    --color-red-pushpin-800: maroon;
    --color-red-pushpin-700: #9b0000;
    --color-red-pushpin-600: #b60000;
    --color-red-pushpin-500: #c00;
    --color-red-pushpin-450: #e60023;
    --color-red-pushpin-400: #eb4242;
    --color-red-pushpin-300: #f47171;
    --color-red-pushpin-200: #fcbbbb;
    --color-red-pushpin-100: #ffe0e0;
    --color-red-pushpin-50: #ffebeb;
    --color-red-pushpin-0: #fff7f7;
    --color-background-elevation-raised: transparent;
    --color-background-elevation-floating: transparent;
    --color-background-wash-light: hsla(0,0%,100%,0.9);
    --color-background-wash-dark: rgba(0,0,0,0.8);
    --color-data-visualization-09: var(--color-teal-spabattical-700);
    --color-data-visualization-08: var(--color-orange-firetini-500);
    --color-data-visualization-07: var(--color-blue-skycicle-500);
    --color-data-visualization-06: var(--color-orange-firetini-700);
    --color-data-visualization-05: var(--color-blue-skycicle-800);
    --color-data-visualization-04: var(--color-pink-flaminglow-500);
    --color-data-visualization-03: var(--color-purple-mysticool-600);
    --color-data-visualization-02: var(--color-yellow-caramellow-450);
    --color-data-visualization-01: var(--color-teal-spabattical-450);
    --color-data-visualization-error: var(--color-red-pushpin-500);
    --color-data-visualization-success-text: var(--color-green-matchacado-600);
    --color-data-visualization-success-graph: var(--color-green-matchacado-500);
    --color-data-visualization-12: var(--color-pink-flaminglow-900);
    --color-data-visualization-11: var(--color-green-matchacado-500);
    --color-data-visualization-10: var(--color-purple-mysticool-400);
    --color-border-error: var(--color-red-pushpin-500);
    --color-border-default: var(--color-gray-roboflow-500);
    --color-border-container: var(--color-gray-roboflow-300);
    --color-background-elevation-accent: var(--color-gray-roboflow-100);
    --color-background-light: var(--color-white-mochimalist-0);
    --color-background-dark: var(--color-black-cosmicore-900);
    --color-background-education: var(--color-blue-skycicle-500);
    --color-background-brand: var(--color-red-pushpin-450);
    --color-background-inverse-strong: var(--color-gray-roboflow-200);
    --color-background-inverse-base: var(--color-black-cosmicore-900);
    --color-background-selected-strong: var(--color-gray-roboflow-400);
    --color-background-selected-weak: var(--color-gray-roboflow-700);
    --color-background-selected-base: var(--color-black-cosmicore-900);
    --color-background-tertiary-weak: var(--color-gray-roboflow-300);
    --color-background-tertiary-strong: var(--color-gray-roboflow-700);
    --color-background-tertiary-base: var(--color-gray-roboflow-500);
    --color-background-secondary-weak: var(--color-gray-roboflow-300);
    --color-background-secondary-strong: var(--color-gray-roboflow-400);
    --color-background-secondary-base: var(--color-gray-roboflow-200);
    --color-background-primary-weak: var(--color-red-pushpin-300);
    --color-background-primary-strong: var(--color-red-pushpin-600);
    --color-background-primary-base: var(--color-red-pushpin-450);
    --color-background-shopping: var(--color-blue-skycicle-500);
    --color-background-recommendation-weak: var(--color-purple-mysticool-100);
    --color-background-recommendation-base: var(--color-purple-mysticool-500);
    --color-background-success-weak: var(--color-green-matchacado-100);
    --color-background-success-base: var(--color-green-matchacado-500);
    --color-background-warning-weak: var(--color-orange-firetini-100);
    --color-background-warning-base: var(--color-yellow-caramellow-500);
    --color-background-error-weak: var(--color-red-pushpin-100);
    --color-background-error-base: var(--color-red-pushpin-500);
    --color-background-info-weak: var(--color-blue-skycicle-100);
    --color-background-info-base: var(--color-blue-skycicle-500);
    --color-background-default: var(--color-white-mochimalist-0);
    --color-text-icon-dark: var(--color-black-cosmicore-900);
    --color-text-icon-light: var(--color-white-mochimalist-0);
    --color-text-icon-brand-primary: var(--color-red-pushpin-450);
    --color-text-icon-shopping: var(--color-blue-skycicle-500);
    --color-text-icon-inverse: var(--color-white-mochimalist-0);
    --color-text-icon-recommendation: var(--color-purple-mysticool-500);
    --color-text-icon-info: var(--color-blue-skycicle-500);
    --color-text-icon-warning: var(--color-yellow-caramellow-500);
    --color-text-icon-error: var(--color-red-pushpin-500);
    --color-text-icon-success: var(--color-green-matchacado-600);
    --color-text-icon-subtle: var(--color-gray-roboflow-500);
    --color-text-icon-default: var(--color-black-cosmicore-900);
    --color-text-link: var(--color-blue-skycicle-700);
    --color-text-shopping: var(--color-blue-skycicle-500);
    --color-text-light: var(--color-white-mochimalist-0);
    --color-text-dark: var(--color-black-cosmicore-900);
    --color-text-inverse: var(--color-white-mochimalist-0);
    --color-text-warning: var(--color-yellow-caramellow-500);
    --color-text-error: var(--color-red-pushpin-500);
    --color-text-success: var(--color-green-matchacado-600);
    --color-text-subtle: var(--color-gray-roboflow-500);
    --color-text-default: var(--color-black-cosmicore-900);
    --color-data-visualization-primary: var(--color-data-visualization-05);
}

body {
	font-family: 'Noto Sans KR', sans-serif;
}

.clear {
	clear: both;
}