@import './mixin';

* {
	@include prefix(box-sizing, border-box, webkit moz);
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	// min-width: fit-content;
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
	display: none;
}


header,
section,
article,
footer,
aside,
nav {
	display: block;
}
header:after,
section:after,
article:after,
footer:after,
aside:after,
nav:after {
	content: '';
	display: block;
	clear: both;
}
ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
a {
	text-decoration: none;
	padding: 0;
	margin: 0;
	display: block;
	color:#000;
}
table {
	border-collapse: collapse;
}

button,
select {
	cursor: pointer;
}
a,
input,
button,
select {
	border: none;
	&:focus {
		outline: none !important;
	}
}
