.wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-semibold);
    border-radius: 16px;
    border: 1px solid var(--color-border-container);
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: transparent;
        padding: 1rem;
    }
}